{% extends "base.html" %}


{% block page_content %}
<bold class="nav-body-content" ><a href="/">Fitness Forum</a> > <a href="/category/{{category_id}}">{{category_name}}</a> > <a href="/category/{{category_id}}/thread/{{thread_id}}">{{thread_name}}</a></bold>
<!-- <bold>Fitness Forum > {{category_name}} > {{thread_subject}}</bold> -->
<form action="" method="post" name="form">
    {% csrf_token %}
    <label for="message">Your Message: </label>
    <textarea id="message" name="message" class="textarea"></textarea>
    <input type="submit" class="btn btn-primary" value="Post">
</form>


{% endblock %}