{% extends "base.html" %}

{% block page_content %}
<h1>This is the Forum List View</h1>
<a href="/addCategory" class="btn btn-primary">Add Category</a>
<h2>List Of Categories:</h2>
<table class="table table-bordered table-dark">
<thead>
    <th>Category Name</th>
    <th>Category Description</th>
    <th>Topics</th>
    <th>Posts</th>
</thead>
<tbody>

{% for i in categories %}
<tr>
    <td><a href="/category/{{i.category_id}}">{{i.name}}</a></td>
    <td>{{i.description}}</td>
    <td>{{i.threadNum}}</td>
</tr>
{% endfor %}

</tbody>

</table>
{% endblock %}