{% extends "base.html" %}


{% block page_content %}

<bold><a href="/">Fitness Forum</a> > <a href="/category/{{category_id}}">{{category_name}}</a> > <a href="/category/{{category_id}}/thread/{{thread_id}}">{{thread_name}}</a></bold>
<br>
{% if user.is_authenticated %}
    <a href="/category/{{category_id}}/thread/{{thread_id}}/addPost" class="btn btn-primary">Add Post</a>
{% else %}
    <p>You must be logged in to post in this thread</p>
{% endif %}
<br>
<table class="table-bordered table-dark">
<thead>
    <th>Post ID</th>
    <th>Posted by </th>
    <th>Message</th>
    <th>Posted On</th>
</thead>
<tbody>
    {% for post in posts %}
    <div class="message">
        <div>{{post.posted_by}}</div>
        {% if post.reply_to > 0 %}
            <div>This message is a reply to: {{post.reply_message}}<br>{{post.message}}<a href="/category/{{category_id}}/thread/{{thread_id}}/replyPost/{{post.post_id}}">Reply</a></div>
        {% else %}
            <div>{{post.message}}<a href="/category/{{category_id}}/thread/{{thread_id}}/replyPost/{{post.post_id}}">Reply</a></div>
            <div>{{post.created_on}}</div>
        {% endif %}
    </div>
    {% endfor %}
</tbody>
 
</table>




{% endblock %}