{% extends "base.html" %}


{% block page_content %}
<bold><a href="/">Fitness Forum</a> > <a href="/category/{{category_id}}">{{category_name}}</a> > <a href="/category/{{category_id}}/thread/{{thread_id}}">{{thread_name}}</a></bold>
<br>
<a href="/category/{{category_id}}/thread/{{thread_id}}/addPost" class="btn btn-primary">Add Post</a>
<br>
<table class="table-bordered table-dark">
<thead>
    <th>Posted by </th>
    <th>Message</th>
    <th>Posted On</th>
</thead>
<tbody>
    {% for post in posts %}
    <tr>
        <td>{{post.posted_by}}</td>
        <td>{{post.message}}</td>
        <td>{{post.created_on}}</td>
    </tr>
    {% endfor %}
</tbody>
 
</table>




{% endblock %}