{% extends "base.html" %}


{% block page_content %}
{% load static %}
<bold class="nav-body-content" ><a href="/">Fitness Forum</a> > <a href="/category/{{category_id}}">{{category_name}}</a> > <a href="/category/{{category_id}}/thread/{{thread_id}}">{{thread_name}}</a></bold>
<br>
<br>

{% for post in posts %}
<div class="thread-content">
    <img class="profilePic" src="{% static 'img/profilePic.png' %}"/>
    <b class="content">{{post.posted_by_id.username}}</b><i>&nbsp; Posted {{post.created_on}}</i>
    {% if post.first_reply_message %}
        {% if post.second_reply_message %}


        {% else %}
            <div class="reply-content">
                <span><p>Posted by: {{ post.reply_to_id.posted_by_id.username }} on {{ post.reply_to_id.created_on }}</p></span>
                    <p><img src="{% static 'img/leftQuote.png' %}" class="reply_left_quote" />{{ post.reply_message }}</p></div>
                    <p class="content">{{post.message}}<br>
                {% if request.session.logged_in %}
                    <a href="/category/{{category_id}}/thread/{{thread_id}}/reply_post/{{post.post_id}}"><img src="{% static 'img/reload.png' %}" class="reply-icon"/>Reply</a>
                {% endif %}
                </p>
            <p class="content">{{post.created_on}}</p>
        {% endif %}
    {% else %}
        <p class="content">{{post.message}}<br>
        {% if request.session.logged_in %}
            <a href="/category/{{category_id}}/thread/{{thread_id}}/reply_post/{{post.post_id}}"><img src="{% static 'img/reload.png' %}" class="reply-icon"/>Reply</a>
        {% endif %}
        </p>
        <p class="content">{{post.created_on}}</p>
    {% endif %}
</div>
{% endfor %}

<br>
{% if user.is_authenticated %}
    <a href="/category/{{category_id}}/thread/{{thread_id}}/add_post" class="btn btn-primary" id="addPostBtn">Add Post</a>
{% else %}
    <p class="nav-body-content">You must be <a href="/login">logged in</a> to post in this thread</p>
{% endif %}

{% endblock %}