.message { margin-bottom: 15px; }
.image { float: left; margin-right: 10px }
.user { float: left; font-weight: bold; color: #009; margin-bottom: 5px; }
.content { 
    margin-left: 30px; 
    font-style: italic; 
    color: black; 
    background-color: #f2e86d; 
    width: 80%; 
}

.nav-body-content{
    margin-left: 30px; 
    font-style: italic; 
    color: black; 
    width: 80%; 
}

/* global styles */

body{ 
    background-color: #D3DFB8;
}

a{
    text-decoration: none !important;
}

/* navbar styles */
#navbar{
    background-color: #574d68 !important;
}


/* forum view styles */
#forum-table{
    background-color: #c6a15b;
}


/* category view styles */

#category-table{
    background-color: #c6a15b;
}

/* thread view styles */


.profilePic { 
    width: 50px;
    padding-right: 10px;
}

.reply-content{
    width: 80%;
    margin-left: 30px;
    background-color: grey;
    border: 5px solid black;
}

#addPostBtn{
    /* margin-bottom: 5px; */
    margin: 30px;
}

#addThreadBtn{
    margin: 30px;
}

#category-table{
    margin-left: 30px;
    width: 80%;
}

#forum-table{
    margin-left: 30px;
    width: 80%;
}

.page-content{
    margin-left: 30px;
    width: 80%;
}